<div class="teachers mt-3">
    <div *ngFor="let teacher of teachers">
        <div class="card border-primary mb-3 ml-2" style="max-width: 16rem;">
            <div class="card-header"><h5>{{teacher.user.first_name}} {{teacher.user.last_name}}</h5></div>
            <div class="card-body">
              <p class="card-text">{{teacher.description}}</p>
              <h6>Carrera: {{teacher.college_career}}</h6>
            </div>
            <button type="button" routerLink="/info-contact" (click)="teacherAll(teacher)" class="btn btn-primary btn-sm">Ver información completa</button>
        </div>
    </div>
</div>
