.news{
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
}
.imge{
    height: 200px; 
    width: 100%; 
    display: block;
}

@media screen and (max-width: 500px) {
    .news{
        top: 60px;
        margin-left: 0px;
        margin-right: 12px;

    }
}
