<nav class="navbar navbar-expand-lg navbar-dark bg-primary header">
    <a class="navbar-brand" href="#">Profesor en Linea</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/subjects" ><i class="fas fa-book mr-1"></i>Materias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teachers" routerLinkActive="active"><i class="fas fa-user-tie mr-1"></i>Prosores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/be-teacher" routerLinkActive="active"><i class="fas fa-user-graduate mr-1"></i>Ser Profesor</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i>Filtrar...</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Programación</a>
            <a class="dropdown-item" href="#">Matemática</a>
            <a class="dropdown-item" href="#">Física</a>
            <a class="dropdown-item" href="#">Química</a>
            <a class="dropdown-item" href="#">Economía</a>
            <a class="dropdown-item" href="#">Medicina</a>
            <a class="dropdown-item" href="#">Biología</a>
            <a class="dropdown-item" href="#">Otros</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="buscar">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
      <div *ngIf="!user" class="card border-primary">
        <a class="nav-link" routerLink="/login" >Login</a>
      </div>
     
      <div *ngIf="user" >
        <a class="nav-link" routerLink="/login" ><img class="imgUser" src="{{ user.photoUrl }}" ></a>
       
      </div>
     
  </nav>
