<div class="personalInfo">
    
    <div class="card border-primary mb-3 mt-3">
        <p>{{teacher.user.college_career}} </p>
        <h4> {{teacher.user.first_name}} {{teacher.user.last_name}}</h4>
        <div class="image">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/404/e12c9799204121.5eed4500a4099.jpg" alt="">
        </div>
        
    
        <h6>Mi descipción academico parcial</h6>
        <div class="description">
            <p>
                {{teacher.description}}
            </p>
        </div>
       
        <h6>Contactame por WHATSAPP ó TELEGRAM</h6>
        <div class="social">
            <a target="true" href="https://api.whatsapp.com/send?phone=63906568"><img src="https://cdn.icon-icons.com/icons2/99/PNG/64/whatsapp_socialnetwork_17360.png" alt="">      </a>
    
       
            <a target="true" href="https://t.me/edsonrosas"> <img src="https://cdn.icon-icons.com/icons2/923/PNG/64/telegram_icon-icons.com_72055.png" alt=""> </a>
            
        </div>
       
    </div>
    
    
</div>
    <h6>Las siguientes materias materias y temas son mi especialidad</h6>
<div class="cardInfo">
    
    <div *ngFor="let subject of teacher.subjects">
        <div class="card border-dark mb-3" style="max-width: 16rem;">
            <div class="card-header"><h5>{{subject.name_suject}}</h5></div>
                <div class="card-body">
                  <p class="card-text">{{subject.description}}</p>
                  <h6>Precio: {{subject.price}} bs.</h6>
            </div>
        </div>
    </div>
</div>

